$body-bg: #fff;

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$landscape-width: 544px;
$phones-width: 768px;
$tablet-width: 992px;
$desktop-width: 1200px;

$extra-small: 630px;
$small: 630px;
$medium: 991px;
$large: 1199px;
$extra-large: 1439px;

$fsize: 16px;
$fcolor: #333;
